*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

ul{
    margin: 0;
    padding: 0;
}