.product{
    padding-bottom: 100px;
}
.product-item{
    margin-bottom: 40px;
}
.product .product-item .product-image{
    height: 270px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product .product-item .product-image .product-label{
    position: absolute;
    bottom: -15px;
    text-align: center;
    width: 100%;
}

.product .product-item .product-image .product-label span{
    background: #fff;
    box-shadow: 0 0 10px rgb(223 223 224 / 70%);
    padding: 10px 10px;
    font-size: 14px;
    transition: .5s;
}

.product .product-detail{
    margin-top: 40px;
    text-align: center;
    position: relative;
}

.product .product-detail h6{
    margin-bottom: 16px;
}

.product .product-detail h6 a{
    font-weight: bolder;
    color: black;
}

.product .product-detail .product-price{
    font-weight: 600;
    transition: .5s;
}

.product .product-detail .product-cart{
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.product .product-detail .product-cart a{
    color: black;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    border-bottom: 2px solid #f08632;
    padding-bottom: 4px;
}

.product .product-item:hover .product-cart{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
}

.product .product-item:hover .product-price{
    opacity: 0;
    visibility: hidden;
}

.product .product-item:hover .product-label span{
    background: #f08632;
    color: #fff;
}